
//
// VARIABLES
//

// Colors
$darkTeal:#00796B;
$mediumTeal:#009688;
$lightTeal:#B2DFDB;
$pinkRed: #FF5252;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #3d3d3d;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$luckiestGuy: "Luckiest Guy", cursive;
$bangers: Bangers, cursive;
$roboto: Roboto, sans-serif;
$helvetica: 'Rammetto One', cursive;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
